/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px black solid;
    margin:5px;
}

.two-head {
      text-align: center;
      font-size: 19px;
      font-weight: normal;
    }
    .section-un {
  border: 2px solid rgb(104, 180, 212); 
  padding: 15px;           
  background-color: #afe7f0;
display: block;
margin-left: 0%;
margin-right: 2.5%;
width: 400px; }

  .section-do {
  border: 2px solid rgb(104, 180, 212); 
  padding: 15px;           
  background-color: #afe7f0;
  display:block;
  margin-left:2.5%;
  margin-right:2.5%;
  width:400px}

  .section-tre {
  border: 2px solid rgb(104, 180, 212); 
  padding: 15px;           
  background-color: #afe7f0; 
  display: block;
  margin-left:2.5%;
  margin-right: 2.5%;
  width: 400px;
}

  img {display: block;
    margin-left: auto;
    margin-right: auto;}

  body{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: rgb(104, 180, 212)}

.mood-button {
    background-color: rgb(11, 170, 255);
}