/* The code below centers the text of all h1's on the page. */


:root {
    --box: #a48ab4;
}
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

.big-head {
    background-color:#a48ab4;
}
/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px black solid;
    margin:5px;
}

.two-head {
      text-align: center;
      font-size: 23px;
      font-weight: normal;
    }
.section-un { 
    padding: 1%;           
    background-color:var(--box);
    display: block;
    margin-left: 0%;
    margin-right: 2.5%;
    width: 400px; 
}

  .section-do { 
  padding: 1%;           
  background-color:var(--box);
  display:block;
  margin-left:2.5%;
  margin-right:2.5%;
  width:400px}

  .section-tre {
  padding: 1%;           
  background-color: var(--box); 
  display: block;
  margin-left:2.5%;
  margin-right: 2.5%;
  width: 400px;
}



  img {display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
    width: 500px}

  body{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: #5e3774;
    font-size: 20px;
    padding: 3%;}

button {
    background-color: #5e3774;
    padding: 4%;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: grab;
    transition: transform 0.1s ease-in-out;
}
button:hover{
    transform:scale(1.03);
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}