/* The code below centers the text of all h1's on the page. */


:root {
    --box: #a48ab4;
}
html {
    scroll-behavior:smooth;
}
h1 {
    text-align:center;
}

.xtra-1nfo {
    color:#5e3774;
    font-style: none;
    line-height: 35px;
    text-align: left;
}

.imges{
    display:inline-block;
    display: flex;
}
.man {
    gap: 5px;
    width: 33%;
}
.woman {
    gap: 5px;
    width: 33%;
}

.asian-woman{
    gap: 5px;
    width: 33%;
}
.young {
    cursor: grab;
    translate: 0.07s ease-in-out;
}
.young:hover{
    font-weight: bold;
}
.five-ways{
    cursor: grab;
    translate: 0.07s ease-in-out;
}
.five-ways:hover{
    font-weight: bold;
}

.benefits{
    cursor: grab;
    translate: 0.07s ease-in-out;
}
.benefits:hover{
    font-weight: bold;
}
.four-sec{
    background-color: #a48ab4;
    border-radius: 8px;
    padding: 3%;
    height: inherit;
    display: flex;

}
/* The code below centers all images on the page and gives them a width of 400px. */
.navbar {
    text-decoration: none;
    background-color: #5e3774;
    padding: 2%;
    height: inherit;
    font-size: 24px;
    display: flex;
    gap: 75px;
}
/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}
h3 {
    font-weight: normal;
    text-align: center;
    font-size: 25px;
}
 .xtra {
    text-align: left;
 }

.big-title {
    background-color: #dbd1e1;
    height: inherit;
    padding: 3%;
}
/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px black solid;
    margin:5px;
}

.two-head {
      text-align: center;
      font-size: 23px;
      font-weight: normal;
    }
.section-un { 
    padding: 1%;           
    background-color:var(--box);
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    width: 400px; 
    border-radius: 18px;
    cursor: pointer;
    translate: 0.4s ease-in-out;
}
.section-un:hover {
    transform: scale(1.06)
}

  .section-do { 
  padding: 1%;           
  background-color:var(--box);
  display:block;
  margin-left:2%;
  margin-right:2%;
  width:400px;
  border-radius: 18px;
  cursor: pointer;
  translate: 0.4s ease-in-out;
}
.section-do:hover {
    transform: scale(1.06)
}

  .section-tre {
  padding: 1%;           
  background-color: var(--box); 
  display: block;
  margin-left:2%;
  margin-right: 2%;
  width: 400px;
  border-radius: 18px;
  cursor: pointer;
  translate: 0.4s ease-in-out;
}
.section-tre:hover {
    transform: scale(1.06)
}

  img {
    margin: 0%;
    opacity: .9;
    max-width: 100%;
    height: auto}

  body{
    font-family:Arial, Helvetica, sans-serif; 
    color: #5e3774;
    font-size: 20px;
}
.sec-tee {
    margin: 4%;
}
.sec-one {
    margin: 4%;
}

button {
    background-color: #5e3774;
    padding: 4%;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: grab;
    transition: transform 0.1s ease-in-out;
}
button:hover{
    transform:scale(1.03);
    font-weight: bold;
}
a{
    color: #ffffff;
    text-decoration: none;
}

.start-tdy {
    cursor: grab;
    transition: transform 0.1s ease-in-out;
}
.start-tdy:hover {
    transform:translateY(-3px);
    color: rgb(226, 226, 226)
}

.Starter-pcks {
    cursor: grab;
    transition: transform 0.1s ease-in-out;
}
.Starter-pcks:hover {
    transform:translateY(-3px);
    color:rgb(226, 226, 226);
}

.git-help {
    cursor: grab;
    transition: transform 0.1s ease-in-out
}

.git-help:hover {
    transform: translateY(-3px);
    color:rgb(226, 226, 226);
}

